<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Start:</b>
  <%= @event.start %>
</p>

<p>
  <b>End:</b>
  <%= @event.end %>
</p>

<p>
  <b>Allday:</b>
  <%= @event.allDay %>
</p>

<p>
  <b>Url:</b>
  <%= @event.url %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %> |
<%= link_to 'Calendar', root_path %> 

